body{
    background-color: #e4f9f5;
    margin:0px;
    color:white;
    text-align:center;
    font-family: 'Merriweather', serif ;
}
.top-cloud{
    display: block;
    position: relative;
    left:60%;
    bottom: 10px;
}
.bottom-cloud{
    position: absolute;
}
.mountain{
    position:relative;
    top:20px;
    padding-bottom: 50px;
}
 .top{
    background-color: rgb(37 150 221);
    position: relative;
    
}
.middle{
    background-color: #070800ad;
}
.bottom{
    background-color: rgb(19, 166, 14);
}
.comp-img{
    width:250px;
    height:auto;
}
.coding{
    width:250px;
    height:auto;
}
.myphoto{
    width:250px;
    height:auto;
}
h1{
    margin:0 auto;
    color:black;
    font-family: 'Sacramento',cursive;
    font-size:90px;
    margin-top:50px;  
}
.para1{
    font-family: 'Courier New', Courier, monospace;
    font-size:1.5rem;
    color:black;
}
h2{
    font-family: 'Montserrat',sans-serif;
}
h3{
    font-family: 'Montserrat',sans-serif;
    color: red;
}